.heading {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3rem;
}

.heading h1 {
  margin-bottom: 2rem;
}

.subHeading h2 {
  padding: 20px;
  text-align: center;
}


.heading * {
  max-width: 40rem;
}

.heading h2 {
  color: #08BDBD;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 3rem auto;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover,
.nextButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.categories img {
  width: 20rem;
  height: 20rem;
  cursor: pointer;
}